# Supabase (Frontend - Vite)
VITE_SUPABASE_URL=https://zawliwmgwglpwbfnnzse.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_KMrboC2UskKfKk470SPjng_aORr8pKa

# Supabase (Backend - Server)
SUPABASE_URL=https://zawliwmgwglpwbfnnzse.supabase.co
SUPABASE_ANON_KEY=sb_publishable_KMrboC2UskKfKk470SPjng_aORr8pKa
